* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

/*CSS header*/
.header {
    width: 100%;
    height: 85px;
    background-color: #ffffff;
}   

#logo {
    padding-left: 20px;
    padding-top: 15px;
}

h1 {
    display: inline-block;
    vertical-align: 25%;
    font-size: 280%;
}

/*CSS main*/
.container {
    width: 1250px;
    height: 680px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    padding-top: 40px;
    margin-bottom: 20px;
}

.list_header {
    width: 100%;
    height: 70px;
    border-bottom: 3px solid #f6f8f9;
}

.input_add_task {
    background-color: #46acf1;
    padding: 12px 20px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    margin-left: 100px;
}

.input_add_section {
    background-color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    color: #d3d7db;
    border-color: #d3d7db;
}

.sections {
    margin-left: 95px;
    margin-top: 30px;
}

.arrow {
    font-size: 50px;
}

h2 {
    display: inline-block;
    vertical-align: 70%;
    font-size: 30px;
}

p {
    font-size: 22px;
}

.badge {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 12px;
    background-color: #46acf1;
}

.note {
    margin-top: 20px;
}

.purple {
    background-color: #9c72e4;
}

.green {
    background-color: #62bfa8;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: #d863a1;
}

.limon {
    background-color: #b0c926;
}